<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Cambell.WindowsService.Properties.Settings.CampbellConnectionString" connectionString="Data Source=10.221.1.4;Initial Catalog=Campbell_ERS; User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="BusinessObjects.Properties.Settings.ERSConnectionString" connectionString="Data Source=10.221.1.4;Initial Catalog=Campbell_ERS; User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="lib.Properties.Settings.ERSConnectionString" connectionString="Data Source=10.221.1.4;Initial Catalog=Campbell_ERS; User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ExportService.hour" value="17"/>
    <add key="ImporterService.TimeInterval" value="1"/>
    <add key="ExportService.FileName" value="APHI.TXT"/>
    <add key="ExportService.POFileName" value="HPH.TXT"/>
    <add key="ExportService.POLineFileName" value="HPO.TXT"/>
    <add key="ExportService.VendorAVMXFileName" value="AVMY.TXT"/>
    <add key="ExportService.VendorAVMFileName" value="AVME.TXT"/>
    <add key="ExportService.BakPath" value="C:\bak\"/>
    <add key="ExportService.Path" value="C:\"/>
    <!-- 24小时制 -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
