<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cambell.WindowsService.Properties.Settings.CampbellConnectionString" connectionString="Data Source=42.121.98.98;Initial Catalog=Campbell;Persist Security Info=True;User ID=sa;Password=Aa#123" providerName="System.Data.SqlClient"/>
    <add name="BusinessObjects.Properties.Settings.ERSConnectionString" connectionString="Data Source=42.121.98.98;Initial Catalog=Campbell; User ID=sa;Password=Aa#123" providerName="System.Data.SqlClient"/>
    <add name="lib.Properties.Settings.ERSConnectionString" connectionString="Data Source=42.121.98.98;Initial Catalog=Campbell;Persist Security Info=True;User ID=sa;Password=Aa#123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ImporterService.TimeInterval" value="1"/>
    <add key="ImporterService.hour" value="16"/>
    <!-- 24小时制 -->
    <add key="ImporterService.FilePath" value="C:\Campbell\Import\"/>
    <add key="ImporterService.BakPath" value="C:\Campbell\Import\bak\"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
