<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cambell.WindowsService.Properties.Settings.CampbellConnectionString" connectionString="Data Source=.;Initial Catalog=Campbell4;Persist Security Info=True;User ID=sa;Password=Abc123++" providerName="System.Data.SqlClient"/>
    <add name="BusinessObjects.Properties.Settings.ERSConnectionString" connectionString="Data Source=.;Initial Catalog=Campbell4; User ID=sa;Password=Abc123++" providerName="System.Data.SqlClient"/>
    <add name="lib.Properties.Settings.ERSConnectionString" connectionString="Data Source=.;Initial Catalog=Campbell4;Persist Security Info=True;User ID=sa;Password=Abc123++" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ImporterService.TimeInterval" value="1"/>
    <add key="ImporterService.hour" value="16"/><!-- 24小时制 -->
    <add key="ImporterService.FilePath" value="D:\Project\Campbell\Cambell.WindowsService\bin\Debug\test\"/>
    <add key="ImporterService.BakPath" value="D:\bak\"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
